*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(255, 255, 255);
}

header, footer{
    background-color:rgb(235, 173, 173);
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    display: flex;
    height: 58vh;
    margin: 1vh 0;
}

Aside{
    width: 20%;
    background-color: rgb(178, 181, 231);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 1%;
}
article{
    width: 80%;
    background-color: rgb(213, 255, 215);
    display: flex;
    flex-wrap: wrap;
}
p{
    width: 100%;
    text-align: center;
    padding-top: 10%;
}
.foto{
    width: 31%;
    background-color: rgb(152, 152, 240);
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}